@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* import font*/
.inter-font {
  font-family: "Inter", sans-serif !important;
}

.roboto-font {
  font-family: "Roboto", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif;
}

.main-text-stock {
  -webkit-text-stroke: 1px #6b3483;
}

.text-stock {
  -webkit-text-stroke: 1.5px #32323d9d;
}

.text-stock-1 {
  -webkit-text-stroke: 1.5px #4a90e2;
}

.text-stock-2 {
  -webkit-text-stroke: 1.5px #3efad9;
}

.text-stock-3 {
  -webkit-text-stroke: 1px #e35050;
}
/* custom scrollbar*/

.scroll-container::-webkit-scrollbar {
  width: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  width: 5px;
  border-radius: 2px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

.abc {
  box-shadow: 0 0 0 20px red;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.main {
  min-width: 0;
}

.text-overflow-2-line {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-overflow-1-line {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-overflow-1-line-flex {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex: 1 1;
  text-transform: none;
}

input[type="range"].volume::-moz-range-thumb {
  -webkit-appearance: none;
  opacity: 0;
}

input[type="range"].volume::-ms-thumb {
  -webkit-appearance: none;
  opacity: 0;
}

input[type="range"].volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
}

input[type="range"].volume:hover::-webkit-slider-thumb {
  opacity: 100;
}

input[type="range"].volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.text-radial-gradint-zingmp3 {
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
